.fab {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 1000;
}

.fab-button {
    width: 40px;
    height: 40px;
    border-radius: 4px; /* ou 50% se quiser circular */
    display: flex;
    align-items: center;
    justify-content: center;
}
